<a href="https://colab.research.google.com/github/FranciscoAguiar/DataScienceProgramming/blob/master/Classificadores2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
sns.set_style('whitegrid')
import tensorflow as tf
from sklearn.model_selection import train_test_split, cross_val_predict
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.decomposition import PCA
from xgboost import XGBClassifier
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score
import time
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
%matplotlib inline

SMALL_SIZE = 10
MEDIUM_SIZE = 12

plt.rc('font', size=SMALL_SIZE)
plt.rc('axes', titlesize=MEDIUM_SIZE)
plt.rc('axes', labelsize=MEDIUM_SIZE)
plt.rcParams['figure.dpi']=150

# Data Acquisition

In [2]:
dataset = pd.read_csv('combined.csv', sep=',')
datasetLi = pd.read_csv('combinedLIWC.csv', sep=',')
datasetCo = pd.read_csv('combined_CohMetrix.csv', sep=',')

In [3]:
dataset.describe()

                 id       classe
count   1000.000000  1000.000000
mean    8887.011000     0.890000
std     4957.123671     0.313046
min       20.000000     0.000000
25%     1649.750000     1.000000
50%    11987.000000     1.000000
75%    12796.750000     1.000000
max    13814.000000     1.000000

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1000 non-null   int64
 1   feedback  996 non-null    object
 2   classe    1000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 23.6+ KB

In [9]:
dataset.shape

(1000, 3)

In [10]:
dataset["classe"].value_counts()

1    890
0    110
Name: classe, dtype: int64

# Data Exploration

In [13]:
dataset.head(20)

      id                                           feedback  classe
0     23  Ler outros textos sobre o assunto para lher da...       0
1     24  Procure ler mais; para escrever mais acerca do...       0
2     35  Texto bom; precisa apenas ler mais um pouco; p...       0
3     37                Ter cuidado com copias da internet.       0
4     68  Carssimo; o trabalho precisa de uma sistematiz...       1
5    286  Ol Wilma!      Na sua postagem no consta o nom...       0
6    665         Faltaram alguns elementos: referncias etc.       0
7    804  Bom dia Ana Lcia! De acordo com a tarefa da we...       1
8    842  Boa tarde Ccero! o motivo da sua pontuao foi i...       1
9   1098  Bom dia!!! cuidado com os erros ortogrficos e ...       0
10  1200  Seu trabalho foi bem elaborado; porm faltaram ...       0
11  1223  Sempre que fizer alguma atividade (Webquest) c...       1
12  1279  Cpia do artigo REMINISCNCIAS ENTRE MUNDOS EM C...       0
13  1280                  H; neste texto; indcios de plgio.       0
14  1393  No foi apresentado o que foi pedido na web... ...       0
15  1399  H; neste texto; indcios de plgio. Tenha mais a...       0
16  1408  H; no texto; alguns indcios de plgio.  preciso...       0
17  1450                     H; no texto; indcios de plgio.       0
18  1546  Seu trabalho cumpriu com os requisitos. Apenas...       0
19  1555  Seu trabalho cumpriu com todos os requisitos s...       1

In [14]:
datasetLi.head(20)

      id  liwc.funct  liwc.pronoun  ...  liwc.assent  liwc.nonfl  liwc.filler
0     23          10             3  ...            0           0            0
1     24           8             2  ...            0           0            0
2     35          12             3  ...            0           0            0
3     37           2             0  ...            0           0            0
4     68           9             4  ...            2           0            0
5    286           4             2  ...            0           0            0
6    665           2             0  ...            0           0            0
7    804          16             8  ...            1           1            0
8    842          10             3  ...            1           0            0
9   1098           6             1  ...            1           0            0
10  1200           7             1  ...            0           1            0
11  1223          11             4  ...            0           0            0
12  1279           2             0  ...            0           0            0
13  1280           1             0  ...            0           0            0
14  1393           5             2  ...            1           0            0
15  1399           5             2  ...            0           1            0
16  1408           5             0  ...            0           0            0
17  1450           2             0  ...            0           0            0
18  1546           9             4  ...            0           2            0
19  1555          10             4  ...            0           1            0

[20 rows x 65 columns]

In [12]:
len(datasetLi.columns)

65

In [ ]:
datasetCo.tail()

        ID  cm.DESPC  cm.DESSC  ...   cm.RDFRE  cm.RDFKGL     cm.RDL2
995  13809         1         2  ... -13.320000  18.098333   86.123599
996  13810         1         2  ...   0.523008  20.515000   84.936501
997  13811         1         2  ...   8.069318  16.232879   98.955636
998  13813         1         3  ...  15.140290  13.052174  103.964498
999  13814         1         3  ...  11.462029  13.565217   97.918037

[5 rows x 95 columns]

In [ ]:
datasetLi['classe'] = dataset['classe']

In [ ]:
datasetLi.head()

   id  liwc.funct  liwc.pronoun  ...  liwc.nonfl  liwc.filler  classe
0  23          10             3  ...           0            0       0
1  24           8             2  ...           0            0       0
2  35          12             3  ...           0            0       0
3  37           2             0  ...           0            0       0
4  68           9             4  ...           0            0       1

[5 rows x 66 columns]

In [ ]:
datasetCo['classe'] = dataset['classe']
datasetCo.head()

   ID  cm.DESPC  cm.DESSC  cm.DESWC  ...   cm.RDFRE  cm.RDFKGL     cm.RDL2  classe
0  23         1         1        18  ...  25.356471  13.945882         NaN       0
1  24         1         2        24  ...  27.485000  11.910000   95.041286       0
2  35         1         2        31  ...  32.505000  11.706667   96.135954       0
3  37         1         1         7  ...  31.545000  10.350000         NaN       0
4  68         1         4        32  ...  17.755250  12.335500  122.581573       1

[5 rows x 96 columns]

In [ ]:
datasetCurrent = datasetCo

In [ ]:
datasetCurrent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 96 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1000 non-null   int64
 1   cm.DESPC      1000 non-null   int64
 2   cm.DESSC      1000 non-null   int64
 3   cm.DESWC      1000 non-null   int64
 4   cm.DESPL      1000 non-null   float64
 5   cm.DESPLd     1000 non-null   float64
 6   cm.DESSL      1000 non-null   float64
 7   cm.DESSLd     1000 non-null   float64
 8   cm.DESWLsy    1000 non-null   float64
 9   cm.DESWLsyd   1000 non-null   float64
 10  cm.DESWLlt    1000 non-null   float64
 11  cm.DESWLltd   1000 non-null   float64
 12  cm.CRFNO1     1000 non-null   int64
 13  cm.CRFAO1     1000 non-null   int64
 14  cm.CRFSO1     1000 non-null   int64
 15  cm.CRFNOa     1000 non-null   int64
 16  cm.CRFAOa     1000 non-null   int64
 17  cm.CRFSOa     1000 non-null   int64
 18  cm.CRFCWO1    835 non-null    float64
 19  cm.CRFCWO1d   835 non-null    float64
 20  cm.CRFCWOa    1000 non-null   float64
 21  cm.CRFCWOad   1000 non-null   float64
 22  cm.CRFANP1    1000 non-null   int64
 23  cm.CRFANPa    1000 non-null   int64
 24  cm.LSASS1     1000 non-null   float64
 25  cm.LSASS1d    1000 non-null   float64
 26  cm.LSASSp     638 non-null    float64
 27  cm.LSASSpd    638 non-null    float64
 28  cm.LSAPP1     1000 non-null   int64
 29  cm.LSAPP1d    1000 non-null   int64
 30  cm.LSAGN      1000 non-null   float64
 31  cm.LSAGNd     1000 non-null   float64
 32  cm.LDTTRc     1000 non-null   float64
 33  cm.LDTTRa     1000 non-null   float64
 34  cm.LDMTLDa    1000 non-null   float64
 35  cm.LDVOCDa    1000 non-null   float64
 36  cm.CNCAll     1000 non-null   float64
 37  cm.CNCCaus    1000 non-null   float64
 38  cm.CNCLogic   1000 non-null   float64
 39  cm.CNCADC     1000 non-null   float64
 40  cm.CNCTemp    1000 non-null   float64
 41  cm.CNCAdd     1000 non-null   float64
 42  cm.CNCPos     1000 non-null   float64
 43  cm.CNCNeg     1000 non-null   float64
 44  cm.CNCAlter   1000 non-null   float64
 45  cm.CNCConclu  1000 non-null   float64
 46  cm.CNCExpli   1000 non-null   float64
 47  cm.CNCConce   1000 non-null   float64
 48  cm.CNCCondi   1000 non-null   float64
 49  cm.CNCConfor  1000 non-null   float64
 50  cm.CNCFinal   1000 non-null   float64
 51  cm.CNCProp    1000 non-null   float64
 52  cm.CNCComp    1000 non-null   float64
 53  cm.CNCConse   1000 non-null   float64
 54  cm.CNCInte    1000 non-null   float64
 55  cm.SMCAUSv    1000 non-null   float64
 56  cm.SMCAUSvp   1000 non-null   float64
 57  cm.SMCAUSr    1000 non-null   float64
 58  cm.SMCAUSlsa  1000 non-null   float64
 59  cm.SMCAUSwn   1000 non-null   float64
 60  cm.SYNLE      1000 non-null   float64
 61  cm.SYNMEDpos  1000 non-null   float64
 62  cm.SYNMEDwrd  1000 non-null   float64
 63  cm.SYNMEDlem  1000 non-null   float64
 64  cm.SYNSTRUTa  1000 non-null   float64
 65  cm.SYNSTRUTt  1000 non-null   float64
 66  cm.DRNP       1000 non-null   int64
 67  cm.DRVP       1000 non-null   int64
 68  cm.DRAP       1000 non-null   int64
 69  cm.DRPP       1000 non-null   int64
 70  cm.DRPVAL     1000 non-null   int64
 71  cm.DRNEG      1000 non-null   int64
 72  cm.DRGERUND   1000 non-null   int64
 73  cm.DRINF      1000 non-null   int64
 74  cm.WRDNOUN    1000 non-null   int64
 75  cm.WRDVERB    1000 non-null   int64
 76  cm.WRDADJ     1000 non-null   int64
 77  cm.WRDADV     1000 non-null   int64
 78  cm.WRDPRO     1000 non-null   int64
 79  cm.WRDPRP1s   1000 non-null   int64
 80  cm.WRDPRP1p   1000 non-null   int64
 81  cm.WRDPRP2    1000 non-null   int64
 82  cm.WRDPRP3s   1000 non-null   int64
 83  cm.WRDPRP3p   1000 non-null   int64
 84  cm.WRDFRQc    1000 non-null   float64
 85  cm.WRDFRQa    1000 non-null   float64
 86  cm.WRDFRQmc   1000 non-null   float64
 87  cm.WRDAOAc    1000 non-null   float64
 88  cm.WRDFAMc    1000 non-null   float64
 89  cm.WRDCNCc    1000 non-null   float64
 90  cm.WRDIMGc    1000 non-null   float64
 91  cm.WRDMEAc    1000 non-null   float64
 92  cm.RDFRE      1000 non-null   float64
 93  cm.RDFKGL     1000 non-null   float64
 94  cm.RDL2       835 non-null    float64
 95  classe        1000 non-null   int64
dtypes: float64(63), int64(33)
memory usage: 750.1 KB

In [ ]:
pd.options.display.max_columns = None

In [ ]:
datasetCurrent.isna().sum(axis=0)

ID            0
cm.DESPC      0
cm.DESSC      0
cm.DESWC      0
cm.DESPL      0
             ..
cm.WRDMEAc    0
cm.RDFRE      0
cm.RDFKGL     0
cm.RDL2       0
classe        0
Length: 96, dtype: int64

In [ ]:
datasetCurrent.isnull().sum(axis = 1)

1      0
2      0
4      0
5      0
7      0
      ..
995    0
996    0
997    0
998    0
999    0
Length: 835, dtype: int64

In [ ]:
datasetCurrent.isnull().sum().sort_values(ascending = False)

cm.LSASSp     197
cm.LSASSpd    197
classe          0
cm.RDL2         0
cm.LSASS1d      0
             ...
cm.DRNP         0
cm.DRVP         0
cm.DRAP         0
cm.DRPP         0
ID              0
Length: 96, dtype: int64

In [ ]:
datasetCurrent.dropna(subset = ["cm.RDL2","cm.LSASSp", "cm.LSASSpd"] , inplace=True)

In [ ]:
datasetCurrent.describe()

,ID,cm.DESPC,cm.DESSC,cm.DESWC,cm.DESPL,cm.DESPLd,cm.DESSL,cm.DESSLd,cm.DESWLsy,cm.DESWLsyd,cm.DESWLlt,cm.DESWLltd,cm.CRFNO1,cm.CRFAO1,cm.CRFSO1,cm.CRFNOa,cm.CRFAOa,cm.CRFSOa,cm.CRFCWO1,cm.CRFCWO1d,cm.CRFCWOa,cm.CRFCWOad,cm.CRFANP1,cm.CRFANPa,cm.LSASS1,cm.LSASS1d,cm.LSASSp,cm.LSASSpd,cm.LSAPP1,cm.LSAPP1d,cm.LSAGN,cm.LSAGNd,cm.LDTTRc,cm.LDTTRa,cm.LDMTLDa,cm.LDVOCDa,cm.CNCAll,cm.CNCCaus,cm.CNCLogic,cm.CNCADC,cm.CNCTemp,cm.CNCAdd,cm.CNCPos,cm.CNCNeg,cm.CNCAlter,cm.CNCConclu,cm.CNCExpli,cm.CNCConce,cm.CNCCondi,cm.CNCConfor,cm.CNCFinal,cm.CNCProp,cm.CNCComp,cm.CNCConse,cm.CNCInte,cm.SMCAUSv,cm.SMCAUSvp,cm.SMCAUSr,cm.SMCAUSlsa,cm.SMCAUSwn,cm.SYNLE,cm.SYNMEDpos,cm.SYNMEDwrd,cm.SYNMEDlem,cm.SYNSTRUTa,cm.SYNSTRUTt,cm.DRNP,cm.DRVP,cm.DRAP,cm.DRPP,cm.DRPVAL,cm.DRNEG,cm.DRGERUND,cm.DRINF,cm.WRDNOUN,cm.WRDVERB,cm.WRDADJ,cm.WRDADV,cm.WRDPRO,cm.WRDPRP1s,cm.WRDPRP1p,cm.WRDPRP2,cm.WRDPRP3s,cm.WRDPRP3p,cm.WRDFRQc,cm.WRDFRQa,cm.WRDFRQmc,cm.WRDAOAc,cm.WRDFAMc,cm.WRDCNCc,cm.WRDIMGc,cm.WRDMEAc,cm.RDFRE,cm.RDFKGL,cm.RDL2,classe
count,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000
mean,8872.293103,0.987461,3.192790,45.542320,3.192790,-0.006270,12.137553,7.634259,1.893486,1.211756,5.164325,3.212586,0.144201,0.274295,0.246082,0.609718,1.396552,0.952978,0.017076,0.013897,0.015992,0.018958,0.144201,0.609718,0.145849,0.045431,0.141966,0.052705,-0.006270,-0.006270,0.417947,0.387132,0.947109,0.875367,85.824905,0.256607,0.796238,0.841693,1.278997,0.163009,0.047022,0.815047,5.744514,0.509404,0.072100,0.134796,0.871473,0.813480,0.449843,0.318182,0.843260,-0.006270,0.829154,0.804075,1.180251,1.321317,2.163009,0.360242,0.267222,3.918495,1.743316,0.873985,0.977410,0.972604,0.316235,0.316235,1.206897,2.145768,0.164577,0.083072,0.916928,-0.006270,0.222571,1.043887,9.835423,5.827586,2.753918,1.832288,2.007837,0.010972,-0.006270,-0.006270,0.031348,0.007837,6.327153,1.833654,5.725294,344.124391,580.048909,277.102511,293.438197,312.805768,20.997505,13.282738,103.504241,0.934169
std,5043.835402,0.157988,3.029237,41.149045,3.029237,0.078994,5.887039,5.645273,0.324123,0.675913,0.958506,2.038822,0.442509,0.687405,0.598750,2.046485,6.565534,2.987832,0.084498,0.083330,0.083333,0.083742,0.442509,2.046485,0.182284,0.119272,0.176373,0.119035,0.078994,0.078994,0.202404,0.132295,0.165810,0.169656,61.494221,0.411843,1.058353,1.674919,1.763194,0.413749,0.246130,1.115170,7.033153,0.869367,0.333111,0.438363,1.729539,1.677632,1.016269,0.658728,1.746189,0.078994,1.719944,1.671870,2.209680,1.667460,3.029693,0.689433,0.203076,3.898992,1.515123,0.190515,0.159408,0.159999,0.342594,0.342594,1.415706,2.659494,0.510055,0.328158,1.446371,0.078994,0.604009,2.236690,7.593449,6.540903,2.750300,2.729873,3.540517,0.162994,0.078994,0.078994,0.228891,0.142642,0.620813,0.227944,0.704027,157.222919,63.501784,47.083735,47.129721,45.928956,22.489567,3.910859,23.767156,0.248181
min,20.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-211.332500,-1.000000,-1.000000,0.000000
25%,1598.250000,1.000000,2.000000,24.000000,2.000000,0.000000,8.000000,3.500000,1.786255,1.019929,4.777778,2.673660,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005496,0.000000,0.000000,0.000000,0.013351,0.000000,0.017457,0.000000,0.000000,0.000000,0.250000,0.354531,0.928571,0.844444,50.610000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.139771,2.000000,0.666667,0.833333,1.000000,0.981481,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.273496,1.836334,5.522249,343.750000,576.333333,258.846970,275.656250,295.640152,10.599542,11.197188,86.269909,1.000000
50%,11870.500000,1.000000,3.000000,35.000000,3.000000,0.000000,11.000000,6.425365,1.900000,1.143201,5.070197,2.991237,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019231,0.019139,0.018185,0.026582,0.000000,0.000000,0.110886,0.000000,0.108413,0.000000,0.000000,0.000000,0.445380,0.407028,1.000000,0.894737,80.920000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.250000,3.000000,1.400000,0.897222,1.000000,1.000000,0.334560,0.334560,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,4.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.409152,1.857727,5.822832,395.142857,586.183333,279.643750,296.253968,318.181818,22.461761,13.060294,103.993385,1.000000
75%,12888.250000,1.000000,3.000000,51.000000,3.000000,0.000000,15.187500,10.192550,2.000000,1.264503,5.450000,3.271054,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.036752,0.033333,0.033333,0.037400,0.000000,1.000000,0.243385,0.085112,0.245875,0.112248,0.000000,0.000000,0.535017,0.433366,1.000000,0.941176,112.000000,0.831013,1.000000,1.000000,2.000000,0.000000,0.000000,1.000000,7.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.500000,0.317601,5.000000,2.500000,1.000000,1.000000,1.000000,0.659706,0.659706,2.000000,3.000000,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000,12.000000,7.000000,4.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.518961,1.874715,6.086002,434.500000,596.472826,300.150000,316.282468,335.155556,33.061815,15.464401,123.644767,1.000000
max,13814.000000,1.000000,40.000000,402.000000,40.000000,0.000000,48.000000,33.980386,4.500000,9.145504,13.250000,24.110866,3.000000,6.000000,4.000000,23.000000,74.000000,35.000000,0.194587,0.188818,0.111111,0.165203,3.000000,23.000000,0.956778,0.446499,0.956778,0.438845,0.000000,0.000000,0.978389,0.559817,1.000000,1.000000,425.880000,0.956660,6.000000,20.000000,14.000000,2.000000,2.000000,8.000000,64.000000,4.000000,3.000000,3.000000,20.000000,20.000000,8.000000,4.000000,20.000000,0.000000,21.000000,20.000000,23.000000,16.000000,32.000000,5.000000,1.000000,38.000000,13.000000,1.000000,1.000000,1.000000,0.897366,0.897366,11.000000,28.000000,5.000000,3.000000,7.000000,0.000000,5.000000,23.000000,56.000000,70.000000,27.000000,34.000000,34.000000,2.000000,0.000000,0.000000,2.000000,1.000000,6.653755,1.895181,6.641781,547.000000,632.500000,467.000000,522.000000,446.000000,89.467500,43.853889,145.723226,1.000000

In [ ]:
datasetCurrent['classe'].value_counts()

1    596
0     42
Name: classe, dtype: int64

In [ ]:
datasetCurrent.columns.values

array(['ID', 'cm.DESPC', 'cm.DESSC', 'cm.DESWC', 'cm.DESPL', 'cm.DESPLd',
       'cm.DESSL', 'cm.DESSLd', 'cm.DESWLsy', 'cm.DESWLsyd', 'cm.DESWLlt',
       'cm.DESWLltd', 'cm.CRFNO1', 'cm.CRFAO1', 'cm.CRFSO1', 'cm.CRFNOa',
       'cm.CRFAOa', 'cm.CRFSOa', 'cm.CRFCWO1', 'cm.CRFCWO1d',
       'cm.CRFCWOa', 'cm.CRFCWOad', 'cm.CRFANP1', 'cm.CRFANPa',
       'cm.LSASS1', 'cm.LSASS1d', 'cm.LSASSp', 'cm.LSASSpd', 'cm.LSAPP1',
       'cm.LSAPP1d', 'cm.LSAGN', 'cm.LSAGNd', 'cm.LDTTRc', 'cm.LDTTRa',
       'cm.LDMTLDa', 'cm.LDVOCDa', 'cm.CNCAll', 'cm.CNCCaus',
       'cm.CNCLogic', 'cm.CNCADC', 'cm.CNCTemp', 'cm.CNCAdd', 'cm.CNCPos',
       'cm.CNCNeg', 'cm.CNCAlter', 'cm.CNCConclu', 'cm.CNCExpli',
       'cm.CNCConce', 'cm.CNCCondi', 'cm.CNCConfor', 'cm.CNCFinal',
       'cm.CNCProp', 'cm.CNCComp', 'cm.CNCConse', 'cm.CNCInte',
       'cm.SMCAUSv', 'cm.SMCAUSvp', 'cm.SMCAUSr', 'cm.SMCAUSlsa',
       'cm.SMCAUSwn', 'cm.SYNLE', 'cm.SYNMEDpos', 'cm.SYNMEDwrd',
       'cm.SYNMEDlem', 'cm.SYNSTRUTa', 'cm.SYNSTRUTt', 'cm.DRNP',
       'cm.DRVP', 'cm.DRAP', 'cm.DRPP', 'cm.DRPVAL', 'cm.DRNEG',
       'cm.DRGERUND', 'cm.DRINF', 'cm.WRDNOUN', 'cm.WRDVERB', 'cm.WRDADJ',
       'cm.WRDADV', 'cm.WRDPRO', 'cm.WRDPRP1s', 'cm.WRDPRP1p',
       'cm.WRDPRP2', 'cm.WRDPRP3s', 'cm.WRDPRP3p', 'cm.WRDFRQc',
       'cm.WRDFRQa', 'cm.WRDFRQmc', 'cm.WRDAOAc', 'cm.WRDFAMc',
       'cm.WRDCNCc', 'cm.WRDIMGc', 'cm.WRDMEAc', 'cm.RDFRE', 'cm.RDFKGL',
       'cm.RDL2', 'classe'], dtype=object)

In [ ]:
le = LabelEncoder()
dataset["feedback"] = le.fit_transform(dataset["feedback"].astype(str))
str_cols = dataset.columns[dataset.columns.str.contains('(?:feedback)')]
clfs = {c:LabelEncoder() for c in str_cols}

for col, clf in clfs.items():
    dataset[col] = clfs[col].fit_transform(dataset[col])

# Machine Learning Models - Training

In [ ]:
scaler = MinMaxScaler()
sdss = scaler.fit_transform(datasetCurrent.drop('classe', axis=1))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(sdss, datasetCurrent['classe'], test_size=0.33)

*K Nearest Neighbors*

In [ ]:
knn = KNeighborsClassifier()
training_start = time.perf_counter()
knn.fit(X_train, y_train)
training_end = time.perf_counter()
prediction_start = time.perf_counter()
preds = knn.predict(X_test)
prediction_end = time.perf_counter()
acc_knn = (preds == y_test).sum().astype(float) / len(preds)*100
knn_train_time = training_end-training_start
knn_prediction_time = prediction_end-prediction_start
print("Scikit-Learn's K Nearest Neighbors Classifier's prediction accuracy is: %3.2f" % (acc_knn))
print("Time consumed for training: %4.3f seconds" % (knn_train_time))
print("Time consumed for prediction: %6.5f seconds" % (knn_prediction_time))

Scikit-Learn's K Nearest Neighbors Classifier's prediction accuracy is: 92.89
Time consumed for training: 0.012 seconds
Time consumed for prediction: 0.02439 seconds

*Naive Bayes*

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
scaler_gnb = MaxAbsScaler()
sdss = scaler_gnb.fit_transform(datasetCurrent.drop('classe', axis=1))
X_train_gnb, X_test_gnb, y_train_gnb, y_test_gnb = train_test_split(sdss, datasetCurrent['classe'], test_size=0.33)

gnb = GaussianNB()
training_start = time.perf_counter()
gnb.fit(X_train_gnb, y_train_gnb)
training_end = time.perf_counter()
prediction_start = time.perf_counter()
preds = gnb.predict(X_test_gnb)
prediction_end = time.perf_counter()
acc_gnb = (preds == y_test_gnb).sum().astype(float) / len(preds)*100
gnb_train_time = training_end-training_start
gnb_prediction_time = prediction_end-prediction_start
print("Scikit-Learn's Gaussian Naive Bayes Classifier's prediction accuracy is: %3.2f" % (acc_gnb))
print("Time consumed for training: %4.3f seconds" % (gnb_train_time))
print("Time consumed for prediction: %6.5f seconds" % (gnb_prediction_time))

Scikit-Learn's Gaussian Naive Bayes Classifier's prediction accuracy is: 91.94
Time consumed for training: 0.001 seconds
Time consumed for prediction: 0.00084 seconds

*XGBoost*

In [ ]:
xgb = XGBClassifier(n_estimators=100)
training_start = time.perf_counter()
xgb.fit(X_train, y_train)
training_end = time.perf_counter()
prediction_start = time.perf_counter()
preds = xgb.predict(X_test)
prediction_end = time.perf_counter()
acc_xgb = (preds == y_test).sum().astype(float) / len(preds)*100
xgb_train_time = training_end-training_start
xgb_prediction_time = prediction_end-prediction_start
print("XGBoost's prediction accuracy is: %3.2f" % (acc_xgb))
print("Time consumed for training: %4.3f" % (xgb_train_time))
print("Time consumed for prediction: %6.5f seconds" % (xgb_prediction_time))

XGBoost's prediction accuracy is: 95.26
Time consumed for training: 0.150
Time consumed for prediction: 0.00125 seconds

*Scitkit-Learn's Random Forest Classifier*

In [ ]:
rfc = RandomForestClassifier(n_estimators=10)
training_start = time.perf_counter()
rfc.fit(X_train, y_train)
training_end = time.perf_counter()
prediction_start = time.perf_counter()
preds = rfc.predict(X_test)
prediction_end = time.perf_counter()
acc_rfc = (preds == y_test).sum().astype(float) / len(preds)*100
rfc_train_time = training_end-training_start
rfc_prediction_time = prediction_end-prediction_start
print("Scikit-Learn's Random Forest Classifier's prediction accuracy is: %3.2f" % (acc_rfc))
print("Time consumed for training: %4.3f seconds" % (rfc_train_time))
print("Time consumed for prediction: %6.5f seconds" % (rfc_prediction_time))

Scikit-Learn's Random Forest Classifier's prediction accuracy is: 94.31
Time consumed for training: 0.029 seconds
Time consumed for prediction: 0.00163 seconds

Support Vector Machine Classifier

In [ ]:
svc = SVC()
training_start = time.perf_counter()
svc.fit(X_train, y_train)
training_end = time.perf_counter()
prediction_start = time.perf_counter()
preds = svc.predict(X_test)
prediction_end = time.perf_counter()
acc_svc = (preds == y_test).sum().astype(float) / len(preds)*100
svc_train_time = training_end-training_start
svc_prediction_time = prediction_end-prediction_start
print("Scikit-Learn's Support Vector Machine Classifier's prediction accuracy is: %3.2f" % (acc_svc))
print("Time consumed for training: %4.3f seconds" % (svc_train_time))
print("Time consumed for prediction: %6.5f seconds" % (svc_prediction_time))

Scikit-Learn's Support Vector Machine Classifier's prediction accuracy is: 92.89
Time consumed for training: 0.012 seconds
Time consumed for prediction: 0.00238 seconds

In [ ]:
results = pd.DataFrame({
    'Model': ['KNN', 'Naive Bayes', 
              'XGBoost', 'Random Forest', 'SVC'],
    'Score': [acc_knn, acc_gnb, acc_xgb, acc_rfc, acc_svc],
    'Runtime Training': [knn_train_time, gnb_train_time, xgb_train_time, rfc_train_time, 
                         svc_train_time],
    'Runtime Prediction': [knn_prediction_time, gnb_prediction_time, xgb_prediction_time, rfc_prediction_time,
                          svc_prediction_time]})
result_df = results.sort_values(by='Score', ascending=False)
result_df = result_df.set_index('Model')
result_df

                   Score  Runtime Training  Runtime Prediction
Model
XGBoost        95.260664          0.150449            0.001247
Random Forest  94.312796          0.029375            0.001629
KNN            92.890995          0.012275            0.024394
SVC            92.890995          0.012063            0.002382
Naive Bayes    91.943128          0.001433            0.000838

Cross Validation - Scikit-Learn's Random Forest Classifier

In [ ]:
from sklearn.model_selection import cross_val_score
rfc_cv = RandomForestClassifier(n_estimators=100)
scores = cross_val_score(rfc_cv, X_train, y_train, cv=10, scoring = "accuracy")
print("Scores:", scores)
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores: [0.95348837 0.95348837 0.97674419 0.93023256 0.93023256 0.93023256
 0.97674419 0.92857143 0.97619048 0.97619048]
Mean: 0.9532115171650055
Standard Deviation: 0.020868692009913217

XGBoost

In [ ]:
xgb_cv = XGBClassifier(n_estimators=100)
scores = cross_val_score(xgb_cv, X_train, y_train, cv=10, scoring = "accuracy")
print("Scores:", scores)
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores: [0.95348837 0.93023256 0.93023256 0.93023256 0.93023256 0.95348837
 0.95348837 0.95238095 1.         0.97619048]
Mean: 0.9509966777408637
Standard Deviation: 0.02186593140604478

The best parameters for prediction as found by the tuning tests are:

max_depth = 5
min_child_weight = 1
gamma = 0
subsample = 0.8
colsample_bytree = 0.8
reg_alpha = 0.005

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(datasetCurrent.drop('classe', axis=1), datasetCurrent['classe'],
                                                   test_size=0.33)

In [ ]:
xgboost = XGBClassifier(max_depth=5, learning_rate=0.01, n_estimators=100, gamma=0, 
                        min_child_weight=1, subsample=0.8, colsample_bytree=0.8, reg_alpha=0.005)

xgboost.fit(X_train, y_train)
preds = xgboost.predict(X_test)

accuracy = (preds == y_test).sum().astype(float) / len(preds)*100

print("XGBoost's prediction accuracy WITH optimal hyperparameters is: %3.2f" % (accuracy))

XGBoost's prediction accuracy WITH optimal hyperparameters is: 97.63

In [ ]:
xgb_cv = XGBClassifier(n_estimators=100)
scores = cross_val_score(xgb_cv, X_train, y_train, cv=10, scoring = "accuracy")
print("Scores:", scores)
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores: [0.97674419 0.97674419 0.93023256 0.93023256 0.95348837 0.90697674
 0.93023256 0.97619048 0.88095238 0.92857143]
Mean: 0.9390365448504984
Standard Deviation: 0.03029299003555244

# XGBoost - Evaluation

In [ ]:
unique, counts = np.unique(datasetCurrent['classe'], return_counts=True)
dict(zip(unique, counts))

{0: 42, 1: 596}

In [ ]:
predictions = cross_val_predict(xgb, datasetCurrent.drop('classe', axis=1), datasetCurrent['classe'], cv=3)
confusion_matrix(datasetCurrent['classe'], predictions)

array([[ 23,  19],
       [ 12, 584]])

In [ ]:
print("Precision:", precision_score(datasetCurrent['classe'], predictions, average='micro'))
print("Recall:",recall_score(datasetCurrent['classe'], predictions, average='micro'))

Precision: 0.95141065830721
Recall: 0.95141065830721

In [ ]:
print("F1-Score:", f1_score(datasetCurrent['classe'], predictions, average='micro'))

F1-Score: 0.9514106583072099